.footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2rem 6rem;
    position: relative;
    bottom: 0;
    background-color: #E57373;
}
.footer a{
    text-decoration: none;
    color: #fff;
}

.footer-copy-right img {
    width: 200px;
    margin: 0;
}

.footer-copy-right p {
    margin: 0;
    padding-top: 0.7rem;
}

.footer-social img {
    width: 50px;
}